<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@3.0.11"></script>
  <style>
    th, td {
      text-align: center; /* 文本置中 */
    }
  </style>
</head>

<body >

<hr />
<div id = "main">
<div id="shipping" v-if="UI=='main'">
	<h1>寄送中清單</h1>
	<button @click="setUINotdelivered('Notdelivered')">查看已寄送訂單</button>
	<table border=1>
		<tr><td>序號</td><td>顧客序號</td><td>商品價格</td><td>狀態</td><td>-</td></tr>
		<tr v-for="status in list">
			<td>{{status.id}}</td>
			<td>{{status.custID}}</td>
			<td>{{status.price}}</td>
			<td>{{status.status}}</td>
			<td><button @click="setEditshipping(status.id)">更改為已寄送</button></td>
		</tr>
	</table>


</div>
<div id="Notdelivered" v-if="UI=='Notdelivered'">
	<h1>已寄送訂單</h1>
	<button @click="setUI('main')">查看寄送中清單</button>
	<table border=1>
		<tr><td>序號</td><td>顧客序號</td><td>商品價格</td><td>狀態</td><td>-</td></tr>
		<tr v-for="status in list">
			<td>{{status.id}}</td>
			<td>{{status.custID}}</td>
			<td>{{status.price}}</td>
			<td>{{status.status}}</td>
			<td><button @click="setEditNotdelivered(status.id)">更改為已送達</button></td>
		</tr>
	</table>
</div>


</div>

<script>
const todoApp = Vue.createApp({
	data() {
		return {
			UI: 'main',
			list: [],
			
		}
	},
	methods: {
		loadList: function() {//寄送中清單瀏覽
			const that = this; //this  ==> stands for vm6. let's save `this` to `that`
		//向URL發出request
			fetch('logistics_todoControl.php?act=shipping')
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6

				that.list = myJson;
				//todoApp.dat = myJson;
			});
		},
		Notdelivered: function () { //已寄送清單瀏覽
			const that = this;
			fetch('logistics_todoControl.php?act=Notdelivered') // --> 
			.then(function(response) {
			return response.json();
			})
			.then(function(myJson) {
			console.log(myJson);
			that.list = myJson;
			});
        },
       
		setEditshipping: function(status) {//更改為已寄送
			const that=this;
			let mydat = new FormData();

			let url="logistics_todoControl.php?act=updatestatus&id="+status;
			fetch(url,{
				method: 'POST',
				body: mydat // 將表單物件放入fetch的body屬性
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(myJson) {
			console.log(myJson);
			that.list = myJson;
			});
		},
		setEditNotdelivered: function(status) {//更改為已送達
			const that=this;
			let mydat = new FormData();

			let url="logistics_todoControl.php?act=updatestatus2&id="+status;
			fetch(url,{
				method: 'POST',
				body: mydat // 將表單物件放入fetch的body屬性
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(myJson) {
			console.log(myJson);
			that.list = myJson;
			});
		},

		

		setUI: function(page) {
			this.UI=page;
			
		},
		setUINotdelivered: function(page) {
			this.UI=page;
			this.Notdelivered();
		},
	},
	created() {
		this.loadList();
		
	}
}).mount("#main");
</script>

</body></html>
